<header class="main-header">
  <div class="container">
    <div class="imagen">
      <img src="/assets/nutriva.png" width="120" height="100" alt="img">
      <h1>NUTRIVIDA</h1>
    </div>
  </div>
</header>

<main class="content">
  <section class="hero">
    <h2>Transforma tu vida con Nutrivida</h2>
    <p>Encuentra inspiración, herramientas, y recursos para cuidar de tu cuerpo y mente. ¡Empieza hoy mismo!</p>
    <!-- Botón que dispara la navegación -->
    <button (click)="goToLogin()" class="cta-button">Comienza Ahora</button>
  </section>

  <section class="cards">
    <div class="card">
      <h3>🍎 Nutrición Personalizada</h3>
      <p>Planes alimenticios adaptados a ti.</p>
    </div>
    <div class="card">
      <h3>🥗 Recetas Saludables</h3>
      <p>Deliciosas ideas para cada comida.</p>
    </div>
    <div class="card">
      <h3>💪 Ejercicios</h3>
      <p>Entrenamientos para todos los niveles.</p>
    </div>
    <div class="card">
      <h3>📅 Calendario</h3>
      <p>Organiza tus comidas y entrenamientos.</p>
    </div>
    <div class="card">
      <h3>🧮 Calculadora de Calorías</h3>
      <p>Controla tu consumo diario.</p>
    </div>
  </section>
</main>

<footer class="main-footer">
  <p>&copy; 2025 Nutrición Integral. Todos los derechos reservados.</p>
</footer>
